@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --primary-hue: 174;
    --secondary-hue: 42;
    --accent-hue: 44;
    --destructive-hue: 2;

    --background: hsl(45, 52%, 96%);
    --foreground: hsl(192, 13%, 23%);
    --muted: hsl(45, 52%, 93%);
    --muted-foreground: hsl(192, 13%, 40%);
    --popover: hsl(45, 52%, 98%);
    --popover-foreground: hsl(192, 13%, 23%);
    --card: hsl(45, 52%, 97%);
    --card-foreground: hsl(192, 13%, 23%);
    --border: hsl(192, 13%, 75%);
    --input: hsl(192, 13%, 90%);
    --primary: hsl(var(--primary-hue), 80%, 41%);
    --primary-foreground: hsl(45, 52%, 96%);
    --secondary: hsl(var(--secondary-hue), 25%, 84%);
    --secondary-foreground: hsl(192, 13%, 23%);
    --accent: hsl(var(--accent-hue), 99%, 68%);
    --accent-foreground: hsl(192, 13%, 23%);
    --destructive: hsl(var(--destructive-hue), 96%, 68%);
    --destructive-foreground: hsl(45, 52%, 96%);
    --ring: hsl(var(--primary-hue), 40%, 41%);
    --sidebar: hsl(45, 52%, 97%);
    --sidebar-foreground: hsl(192, 13%, 23%);
    --sidebar-primary: hsl(var(--primary-hue), 45%, 40%);
    --sidebar-primary-foreground: hsl(45, 52%, 96%);
    --sidebar-accent: hsl(var(--accent-hue), 23%, 53%);
    --sidebar-accent-foreground: hsl(45, 52%, 96%);
    --sidebar-border: hsl(192, 13%, 85%);
    --sidebar-ring: hsl(var(--primary-hue), 45%, 40%);

    --radius: 0.8rem;

    --link: hsl(var(--primary-hue), 70%, 31%);
}

.dark {
    --background: hsl(192, 13%, 15%);
    --foreground: hsl(45, 52%, 96%);
    --muted: hsl(192, 13%, 18%);
    --muted-foreground: hsl(192, 13%, 60%);
    --popover: hsl(192, 13%, 13%);
    --popover-foreground: hsl(45, 52%, 96%);
    --card: hsl(192, 13%, 17%);
    --card-foreground: hsl(45, 52%, 96%);
    --border: hsl(192, 13%, 25%);
    --input: hsl(192, 13%, 22%);
    --primary: hsl(var(--primary-hue), 70%, 31%);
    --primary-foreground: hsl(45, 52%, 96%);
    --secondary: hsl(var(--secondary-hue), 25%, 24%);
    --secondary-foreground: hsl(45, 52%, 96%);
    --accent: hsl(var(--accent-hue), 49%, 28%);
    --accent-foreground: hsl(45, 52%, 96%);
    --destructive: hsl(var(--destructive-hue), 56%, 48%);
    --destructive-foreground: hsl(45, 52%, 96%);
    --ring: hsl(var(--primary-hue), 40%, 31%);
    --sidebar: hsl(192, 13%, 17%);
    --sidebar-foreground: hsl(45, 52%, 96%);
    --sidebar-primary: hsl(var(--primary-hue), 45%, 60%);
    --sidebar-primary-foreground: hsl(192, 13%, 15%);
    --sidebar-accent: hsl(var(--accent-hue), 23%, 53%);
    --sidebar-accent-foreground: hsl(192, 13%, 15%);
    --sidebar-border: hsl(192, 13%, 25%);
    --sidebar-ring: hsl(var(--primary-hue), 40%, 31%);

    --link: hsl(var(--primary-hue), 80%, 41%);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
    --color-radius: var(--radius);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border;
        font-family: 'PT Sans', sans-serif;
        /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
    }

    html {
        /* background-image: url('$lib/bg.jpg'); */
        background-color: var(--background);
        background-attachment: fixed;
        background-position: 0;
        background-repeat: repeat;
        background-size: 25rem;
    }

    /* html.dark {
        background-image: url('$lib/bg-dark.jpg');
    } */

    body {
        @apply text-foreground;
    }

    .overlay-background {
        background-image:
            radial-gradient(at 15% 85%, color-mix(in srgb, var(--primary) 5%, transparent) 0px, transparent 50%),
            radial-gradient(at 85% 15%, color-mix(in srgb, var(--accent) 5%, transparent) 0px, transparent 50%);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .dark .overlay-background {
        background-image:
            radial-gradient(at 15% 85%, color-mix(in srgb, var(--primary) 5%, transparent) 0px, transparent 50%),
            radial-gradient(at 85% 15%, color-mix(in srgb, var(--accent) 5%, transparent) 0px, transparent 50%);
    }

    button:hover,
    [data-slot="button"]:not(:disabled):hover {
        cursor: pointer;
    }
}

@font-face {
    font-family: 'PT Sans';
    src: url('$lib/PT_Sans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('$lib/PT_Sans/PTSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('$lib/PT_Sans/PTSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('$lib/PT_Sans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}